/*.db
/.vs
/Saved
/.response
/.pdb
/.bin
/.dat
/.log
/Intermediate/AssetRegistryCache
/Intermediate/ReimportCache
/Intermediate/CachedAssetRegistry.bin
/Intermediate/Build/Win64/UE4Editor/Development/Sword/*.obj
/Intermediate/Build/Win64/UE4Editor/Development/Sword/*.response
/Intermediate/Build/Win64/UE4Editor/Development/*.response
/Intermediate/Build/Win64/UE4Editor/Development/*.exp
/Intermediate/Build/Win64/UE4Editor/Development/*.lib
